<!DOCTYPE html>
<html>

<head>
    <title>Sukces</title>
    <style>
        body {
            background-color: rgb(0, 255, 89);
            font-size: 300%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div>
        <h1>Sukces</h1>
        {% if next_level %}
        <p>Good job, you hacked {{ level }}!</p>
        <p>Continue to <a href="{{ next_level }}">next level</a>!</p>
        {% else %}
        <p>You have beaten all levels!</p>
        <p>Check out the <a href="https://github.com/grdddj/form-security#html-form-attacks-and-defences">repository</a>
            for this project.</p>
        {% endif %}
    </div>
</body>

</html>
